{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Configuration{% endblock %}

{% block content %}
<div class="bg-white p-4 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold mb-4">Configure COLAB API URL</h1>
    {% include "message.html" %}
    <form method="POST">
        {% csrf_token %}
        <div class="mb-4">
            <div class="label" for="{{ form.value.id_for_label }}">
                <span class="label-text font-medium text-gray-700">
                    {{ form.value.label }}
                </span>
                <a href="https://colab.research.google.com/github/tantowijh/imagemaster/blob/main/GoogleColabAPI.ipynb"
                    target="_blank" class="text-sm text-blue-600 underline ml-2">
                    Open Google Colab File
                </a>
            </div>
            {% render_field form.value class="input input-bordered w-full" id="colab-api" %}
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-outline btn-info">Save Config</button>
        </div>
    </form>

</div>
{% endblock %}