{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Image Restoration{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold mb-4">Restore Your Image</h1>
    <div class="bg-white p-4 rounded-lg shadow-lg">
        <form method="POST" id="upload-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <div class="label" for="image-upload">
                    <span class="label-text font-medium text-gray-700">Upload Image</span>
                </div>
                {% render_field form.image class="file-input file-input-bordered w-full max-w-xs" id="image-upload" %}
                {% include "form-error.html" %}
            </div>
            <div class="mt-4">
                <button type="submit" class="btn btn-outline btn-info">Start Masking</button>
            </div>
        </form>
    </div>
{% endblock %}